body {
    color: white;
    background-color: #262626;
}

header {
    background-image: url(./képek/Pizza_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 580px;
}

#cim {
    font-family: "Bebas Neue", sans-serif;
    padding: 40px;
}

#menu{
    background-color: black;
}

.pontok {
    float: right;
    margin-top: 3%;
    margin-right: 1%;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color: white;
}

.pontok :hover{
    background-color: yellow;

}

header h1{
    display: inline-block;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}